{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content_title %}Nombre d'entrées sur les 7 derniers jours{% endblock %}

{% block main %}
    <div class="container">
        
        {% if ticketCountByMovie is empty %}
            <div class="alert alert-info">Aucune vente sur les 7 derniers jours.</div>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Film</th>
                        <th>Billets vendus</th>
                        <th>Recette générée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in ticketCountByMovie %}
                        <tr>
                            <td>{{ ticket.movieTitle }}</td>
                            <td>{{ ticket.count }}</td>
                            <td>{{ (ticket.amount / 100 )| number_format(2, '.', ',') }} €</td> {# Format du montant avec deux décimales #}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td style="font-weight: bold;">Total</td>
                        <td style="font-weight: bold;">{{ totalTickets }}</td>
                        <td style="font-weight: bold;">{{ (totalAmount / 100 )| number_format(2, '.', ',') }} €</td>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>
{% endblock %}
